In [1]:
## 1.ASSISGNMENT

In [2]:
#Q.1-:

In [4]:
#(1.1)

In [5]:
a="sameer"

In [6]:
type(a)

str

In [7]:
#(1.2)

In [8]:
b = [1,2,3,"sam",23.32,True]

In [9]:
type(b)

list

In [10]:
#(1.3)

In [11]:
c = 23.32

In [12]:
type(c)

float

In [13]:
#(1.4)

In [1]:
d = (1,2,3,4)

In [2]:
type(d)

tuple

In [3]:
##Q.2-:

In [6]:
#(2.1)

In [7]:
var1=' '

In [8]:
type(var1)

str

In [9]:
#(2.2)

In [10]:
var2='[DS,ML,Python]'

In [11]:
type(var2)

str

In [12]:
#(2.3)

In [13]:
var3=['DS' , 'ML' , 'python']

In [14]:
type(var3)

list

In [15]:
#(2.4)

In [16]:
var4=1.

In [17]:
type(var4)

float

In [18]:
##Q.3-:

In [19]:
#(3.1)

In [24]:
# '/' this operator is use to get exact float value after division between two int or float values .for example
10/3             # 3.333 is the division value here

3.3333333333333335

In [26]:
#(3.2)

In [27]:
# '%' this operator is use to get remainder after division between two int or float values .for example 
10%3            # remainder is 1 here

1

In [28]:
#(3.3)

In [30]:
# '//' this operator is same as '/' but it gives exact int value of division . for example
10//3           # 3 is the round value of float 3.33 value into int format

3

In [31]:
#(3.4)

In [32]:
# '**' this operator is use to get the power of any int or float value . for example 
10**3       # 10 to the power 3 we get 10x10x10 which is 1000

1000

In [33]:
##Q.4-:

In [35]:
l=[12,12.22,True,'Alakh sir',[1,2,3],(1,2,3),{1,2,3},786,78.6,"sudhanshu sir"]

In [38]:
len(l)

10

In [42]:
for i in l:
    print(i)
    print(type(i))

12
<class 'int'>
12.22
<class 'float'>
True
<class 'bool'>
Alakh sir
<class 'str'>
[1, 2, 3]
<class 'list'>
(1, 2, 3)
<class 'tuple'>
{1, 2, 3}
<class 'set'>
786
<class 'int'>
78.6
<class 'float'>
sudhanshu sir
<class 'str'>

In [43]:
##Q.5-:

In [2]:
A=int(input("please enter value of A" ))
B=int(input("please enter value of B"))
count=0
if A%B==0:
    print("A is divisible by B")
    while A%B==0:
        
        count+=1
        A/=B
    print("A is divisible by B ",count,"times")
else:
    print("A is not divisible by B")

please enter value of A 625
please enter value of B 5

A is divisible by B
A is divisible by B  4 times

In [ ]:
##Q6:-

In [4]:
M=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [5]:
len(M)

25

In [6]:
for i in M:
    if i%3==0:
        print( i , "is divisile by 3")
    else:
        print( i , "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisile by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisile by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisile by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisile by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisile by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisile by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisile by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisile by 3
25 is not divisible by 3

In [7]:
##Q7:-

In [8]:
 # Mutable data types are those type of data types in which we change the elements or we can  edit them any time or any where . 
 # for example - list is a mutable data type in which we can change or edit any element.

In [9]:
l1=[1,2,3,"sam","pwskills","raju"]

In [10]:
l1[1]

2

In [11]:
l1[1]="vha Modi ji"

In [12]:
l1[1]

'vha Modi ji'

In [13]:
l1

[1, 'vha Modi ji', 3, 'sam', 'pwskills', 'raju']

In [14]:
# here we can see that l1 list index 2 element is changed without any problem.

In [15]:
# Immutable data types are those type of data types in which we can not change or edit any element in the data type.
# for example - string data type is a type of data type in which we can not change any element .

In [16]:
s1="Mahatma Gandhi"

In [17]:
s1

'Mahatma Gandhi'

In [18]:
s1[0]

'M'

In [19]:
s1[0]=A

TypeError: 'str' object does not support item assignment

In [ ]:
# Here we can see that str is a immutable data type.